header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

ul,li{
    display: flex;
    column-gap: 40px;
    color: whitesmoke;
}
input {
    height: 30px;
    border-radius: 22px;
    font-size: 15px;
}
.one {
    background-image: url(r.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
